<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaosha.usercenter.dao.UserPasswordDao">

    <resultMap id="UserPassword" type="com.miaosha.usercenter.entity.UserPassword"/>

    <sql id="Base_Column_List">
        id, encrypt_password, user_id
    </sql>

<!--    根据用户id查找密码-->
    <select id="selectByUserId" resultMap="UserPassword">
        select
        <include refid="Base_Column_List"/>
        from user_password
        where user_id = #{userId}
    </select>
</mapper>